/* Estilos para a página de detalhes (adapte conforme necessário) */
body {
    background-image: url(../Imagens/biblioteca.png);
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #0074b7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffffbb;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-cover {
    max-width: 40%;
    height: auto;
}

strong{
    color: blue;
}