 /* Estilos gerais (mantidos os estilos anteriores) */
 body {
     font-family: Arial, sans-serif;
     background-position: fixed;
     margin: 0;
     padding: 0;
 }

 header {
     background-color: #0074b7;
     color: #fff;
     text-align: center;
     padding: 20px;
 }

 h1 {
     font-size: 36px;
 }

 .sectionQuantidade {
     display: grid;
     grid-template-columns: repeat(9, 1fr);
 }

 .container {
     max-width: 1200px;
     margin: 0 auto;
     background-color: rgba(255, 255, 255, 0.692);
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 /* Estilos para a lista de livros (incluindo as classes status-lido, status-lendo e status-nao-lido) */
 ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     gap: 20px;
 }

 li {
     background-color: #d3b5b5;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     transition: transform 0.2s;
 }

 li:hover {
     transform: translateY(-5px);
 }

 /* Estilos para a capa do livro */
 .book-cover {
     width: 100%;
     height: 250px;
     display: block;
 }

 li div {
     padding: 10px;
 }

 h2 {
     margin: 0;
     font-size: 18px;
 }

 p {
     margin: 0;
 }

 /* Estilos para as cores do status */
 p strong {
     color: green;
     /* Verde para status "Lido" */
 }

 p.status-lendo {
     color: yellow;
     /* Amarelo para status "Lendo" */
 }

 p.status-nao-lido {
     color: red;
     /* Vermelho para status "Não Lido" */
 }

 p.status-lido {
     color: blue;
     /* Azul para status "Lido" */
 }

 p.status-quero {
     color: rgb(255, 0, 191);
     /* Azul para status "Lido" */
 }

 @media (max-width: 780px) {
     ul {
         grid-template-columns: repeat(2, 1fr);
     }

     .sectionQuantidade {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
     }
 }

 /* Estilos para os links dos livros */
 .book-link {
     text-decoration: none;
     color: inherit;
     cursor: pointer;
 }